<section class="s-block nour-hero">
  <div class="nour-hero__content">
    <h1 class="nour-hero__title">{{ component.heading }}</h1>
    <p class="nour-hero__sub">{{ component.subheading }}</p>
    <a href="{{ store.urls.products }}" class="nour-btn-primary">{{ component.btn_primary_text }}</a>
  </div>
  <div class="nour-hero__image">
    {% if component.hero_image %}
      <img src="{{ component.hero_image }}" alt="{{ store.name }}">
    {% endif %}
  </div>
</section>
